body {
    margin: 0;
}
.navbar-header{
    background-color: rgb(107, 167, 163);
    width: 100%;
    height: 100px;
    margin: 0;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
    position: relative;
    font-weight: bold;
    padding: 10px;
    float: left;
}

.title{
    padding: 10px;
    text-align: center;
    font-size: 42px;
    color: #355856;
}

.text-center{
    text-align: center;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-3 {width: 22.59%;}

